@model ProductDetailsVM
@section MainHeader{
    Product
}
@section CardTitle{
    Details 
}


<div class="container">
    <div class="row mt-4">
        <!-- Left Column for Image -->
        <div class="col-md-4 d-flex align-items-center justify-content-center mb-4">

            <img src="~/files/images/@Model.ImageName" width="300px" />

        </div>
        <div class="col-md-8 mb-4 mt-4">
            <ul>
                <li><strong>
                        Name : </strong> @Model.Name
                   
                </li>
                <br />

                <li><strong>
                        Description :
                    </strong>@Model.Description
                   
                </li>

                <br />
                
                <li>
                    <strong>
                        Price :
                    </strong> @Model.Price
                        
                </li>
                <br />
                <li>
                    <strong>
                        Stock Quantity :
                    </strong>@Model.StockQuantity
                    
                </li>

                <br />
                <li>
                    <strong>
                        Category :
                    </strong> @ViewBag.CategoryName
                   
                </li>

                <br />

                <li>
                    <strong>
                        CreatDate :
                    </strong>@Model.CreateDate
                  
                </li>

            </ul>
      </div>
