@model UserVM
@section MainHeader{
    users
}
@section CardTitle{
    Details 
}



<ul>
    <li>
      <strong> First Name : </strong> @Model.FirstName
    </li>
    <br />
   
    <li>
        <strong>  LastName : </strong> @Model.LastName
    </li>

    <br />
    <li>
        <strong>  Email : </strong> @Model.Email
    </li>

    <br />
    <li>
        <strong> Phone Number : </strong> @Model.PhoneNumber
    </li>

    <br />

    <li>
        <strong>   Role Name : </strong> @Model.RoleName
    </li>



</ul>

